%h1 app/views/hello/index.haml
This Facebook application was built using Ruby on Rails and the Facebook Platform:
%br/
%a(target= "w" href= "http://en.wikipedia.org/wiki/Ruby_on_rails")http://en.wikipedia.org/wiki/Ruby_on_rails
%br/
%a(target= "w" href= "http://en.wikipedia.org/wiki/Facebook_Platform")http://en.wikipedia.org/wiki/Facebook_Platform
%br/
%a(target= "w" href= "http://www.google.com/search?q=facebook+platform+site:facebook.com")http://www.google.com/search?q=facebook+platform+site:facebook.com
%hr/
Since this application is targeted towards software developers, it might be appropriate to have a link to "hello world" on the home page:
%br/
%a(href="#{@application_base_url}/hello/world" target="_top")="#{@application_base_url}/hello/world"
%br/
%br/
%a(href="#{@application_base_url}/hello/permissions" target="_top")="#{@application_base_url}/hello/permissions"
%hr/


