%h1 app/views/hello/index.haml
%hr/
%a(href="#{@application_base_url}/hello/world" target="_top")="#{@application_base_url}/hello/world"
%br/
%br/
%a(href="#{@application_base_url}/hello/permissions" target="_top")="#{@application_base_url}/hello/permissions"
%hr/


