If you are a Rails developer this should look familiar.  It is erb syntax generated from the Rails command: script/generate controller hello world
<h1>Hello#world</h1>
<p>Find me in app/views/hello/world.html.erb</p>
