%h1 app/views/fql/index.haml
Demonstrations of Facebook Query Language (FQL)
%hr/
%a(href="#{@application_base_url}/fql/uuser" target="t2")="#{@application_base_url}/fql/uuser"
%br/

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%hr/
