%h1 app/views/fql/index.haml
Demonstrations of Facebook Query Language (FQL)
%hr/
%a(href="/fql/uuser" target="_top")="#{@application_base_url}/fql/uuser"
%br/

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%hr/
