%h1 app/views/fql/index.haml
%hr/
%a(href="#{@application_base_url}/fql/index" target="t2")
  ="#{@application_base_url}/fql/index"
  (You are looking at it)
%br/
%br/
%a(href="#{@application_base_url}/fql/uuser" target="t2")="#{@application_base_url}/fql/uuser"
%br/

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%hr/
