// app/views/layouts/_some_css.haml
%style(type="text/css")
  span.bold_span {font-size:1.0em; font-weight:bold;}
  span.bold_red_span {font-size:1.0em; font-weight:bold; color:red;}
  div#div4yield {font-size:1.5em;}
  div.gitlink   {font-size:0.8em;}