= render(:partial => "shared/page_top", :locals => {:ffname => __FILE__})

Demonstrations of Facebook Markup Language (FBML)
%hr/
Useful information:
%a(href="http://www.google.com/search?q=fql" target="g")http://www.google.com/search?q=fbml
%br/
%br/
%a(href="#{@application_base_url}/fbml/write2news_feed" target="_top")="#{@application_base_url}/fbml/write2news_feed"
%br/

