%h1 app/views/misc/index.haml
Miscellaneous Demonstrations
%hr/
%a(href="#{@application_base_url}/misc/write2news_feed" target="_top")="#{@application_base_url}/misc/write2news_feed"
%br/
%br/
Scrape images using OpenURI and jQuery:
%br/
%a(href="#{@application_base_url}/misc/jq_scrape_form" target="_top")="#{@application_base_url}/misc/jq_scrape_form"
%hr/
