!!! Strict
%html{ "xmlns:fb" => "http://www.facebook.com/2008/fbml", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript")
  %body
    = yield
