!!! Strict
%html{ "xmlns:fb" => "http://www.facebook.com/2008/fbml", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %script(src="http://businessconnect.homeip.net:3331/javascripts/facebooker.js" type="text/javascript")
  %body
    = yield
